* {
	box-sizing: border-box;
}

body{
	font-size: 16px;
	background-color: #fff;
	/*color: #fff;*/
	font-family: 'Oxygen', sans-serif;
	width: 100%
}

/** HEADER **/
#header-nav{
	background-color: #999999;
	border-radius: 0;
	border: 0;	
}

.navbar-brand{
	padding-top: 25px;
}

/* Restaurant name */
.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #000000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color: #951c49;
	text-align: center;
}

#nav-list a:hover{
	background-color: #e7e7e7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}

.container .chicken, .container .Beef, .container .Sushi{
	background: #999999;
	margin: auto;
	margin-top: 20px;
}

h4{
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
}

/*********** Large device only ***********/
@media(min-width: 1200px){
	.container .chicken, .container .Beef, .container .Sushi{
		width: 30%;
		margin-left: 20px;
	}
}

/*********** Medium devices only *********/
@media(min-width: 992px) and (max-width: 1199px){
	.container .chicken, .container .Beef, .container .Sushi{
		width: 30%;
		margin-left: 20px;
	}
}

/********** Small devices only ***********/
@media(min-width: 768px) and (max-width: 991px){
	.container .chicken, .container .Beef{
		width: 48.5%;
	}
	 .container .Beef{
	 	margin-left: 20px;
	 }
}